---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - endpoints
  - namespaces
  - nodes
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - nodes/proxy
  verbs:
  - get
- apiGroups:
  - ""
  resourceNames:
  - spire-agent
  - spire-server
  - spire-spiffe-csi-driver
  - spire-spiffe-oidc-discovery-provider
  resources:
  - serviceaccounts
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - services
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - spire-agent
  - spire-controller-manager-webhook
  - spire-server
  - spire-spiffe-oidc-discovery-provider
  resources:
  - services
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resourceNames:
  - spire-controller-manager-webhook
  resources:
  - validatingwebhookconfigurations
  verbs:
  - delete
  - update
- apiGroups:
  - apps
  resourceNames:
  - spire-agent
  - spire-spiffe-csi-driver
  resources:
  - daemonsets
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - statefulsets
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - spire-spiffe-oidc-discovery-provider
  resources:
  - deployments
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - apps
  resourceNames:
  - spire-server
  resources:
  - statefulsets
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.openshift.io
  resourceNames:
  - cluster
  resources:
  - spiffecsidrivers
  - spireagents
  - spireoidcdiscoveryproviders
  - spireservers
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - operator.openshift.io
  resources:
  - spiffecsidrivers
  - spireagents
  - spireoidcdiscoveryproviders
  - spireservers
  - zerotrustworkloadidentitymanagers
  verbs:
  - list
  - watch
- apiGroups:
  - operator.openshift.io
  resourceNames:
  - cluster
  resources:
  - spiffecsidrivers/finalizers
  - spiffecsidrivers/status
  - spireagents/finalizers
  - spireagents/status
  - spireoidcdiscoveryproviders/finalizers
  - spireoidcdiscoveryproviders/status
  - spireservers/finalizers
  - spireservers/status
  - zerotrustworkloadidentitymanagers/finalizers
  - zerotrustworkloadidentitymanagers/status
  verbs:
  - update
- apiGroups:
  - operator.openshift.io
  resourceNames:
  - cluster
  resources:
  - zerotrustworkloadidentitymanagers
  verbs:
  - get
  - update
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorconditions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorconditions/status
  verbs:
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - spire-agent
  - spire-controller-manager
  - spire-server
  resources:
  - clusterrolebindings
  - clusterroles
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - spire-bundle
  - spire-controller-manager-leader-election
  - spire-oidc-external-cert-reader
  - spire-server-external-cert-reader
  resources:
  - rolebindings
  - roles
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - route.openshift.io
  resourceNames:
  - spire-oidc-discovery-provider
  - spire-server-federation
  resources:
  - routes
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
  - update
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - security.openshift.io
  resourceNames:
  - spire-agent
  - spire-spiffe-csi-driver
  resources:
  - securitycontextconstraints
  verbs:
  - delete
  - get
  - update
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains
  - clusterspiffeids
  - clusterstaticentries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains/finalizers
  - clusterspiffeids/finalizers
  - clusterstaticentries/finalizers
  verbs:
  - update
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains/status
  - clusterspiffeids/status
  - clusterstaticentries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - csidrivers
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
